---
import Layout from "../layouts/Layout.astro";
import { name } from "../const/business";
---

<Layout title="POLICTICAS">
  <section id="legal-warning" class="md:px-32 md:pt-10 p-5">
    <h1 class="text-2xl font-bold">Aviso Legal</h1>
    <p class="mt-5">
      El titular de este sitio web es {name.value}, El acceso a esta web es
      gratuito. Los contenidos son propiedad intelectual de {name.value} y están
      protegidos por las leyes y tratados internacionales vigentes. Cualquier utilización
      o reproducción de los mismos debe ser autorizado por escrito a {
        name.value
      }
    </p>
  </section>
  <section id="terms-and-conditions" class="md:px-32 md:pt-10 p-5">
    <h1 class="text-2xl font-bold">Términos y condiciones</h1>
    <p class="mt-5">
      Al acceder y utilizar este sitio web, usted acepta estar sujeto a estos
      términos y condiciones de uso. Si no está de acuerdo con alguno de estos
      términos, por favor absténgase de utilizar este sitio.
    </p>

    <p class="mt-5">
      El uso de este sitio web está sujeto a nuestra política de privacidad, la
      cual puede ser consultada <a class="underline" href="/landing-2p-marte/policies#privacy">aquí</a>. Al utilizar este
      sitio, usted acepta el tratamiento de sus datos personales de acuerdo con
      dicha política.
    </p>
    <p class="mt-5">
      Este sitio web puede contener enlaces a sitios web de terceros. Estos
      enlaces son proporcionados únicamente para su conveniencia y no implican
      respaldo o responsabilidad por parte del titular del sitio web respecto a
      dichos sitios.
    </p>
    <p class="mt-5">
      El titular del sitio web se reserva el derecho de modificar, actualizar o
      eliminar estos términos y condiciones en cualquier momento y sin previo
      aviso. Se recomienda revisar periódicamente esta página para estar al
      tanto de cualquier cambio.
    </p>
    <p class="mt-5">
      El uso de este sitio web es bajo su propio riesgo. El titular del sitio
      web no será responsable por daños directos, indirectos, incidentales,
      especiales, consecuentes o ejemplares derivados del uso o la imposibilidad
      de uso de este sitio.
    </p>
    <p class="mt-5">
      Estos términos y condiciones se rigen por las leyes de República
      Dominicana y cualquier disputa que surja en relación con este sitio web
      estará sujeta a la jurisdicción exclusiva de los tribunales
    </p>
    <p class="mt-5">
      Si tiene alguna pregunta o inquietud respecto a estos términos y
      condiciones se debe contactar directamente con un representate de {
        name.value
      }
    </p>
  </section>
  <section id="privacy" class="md:px-32 md:pt-10 p-5">
    <h1 class="text-2xl font-bold">
      Políticas de privacidad (Última actualización: 15/04/2024.)
    </h1>
    <p class="mt-5">
      Nosotros, {name.value}, estamos comprometidos con la protección y
      privacidad de la información personal que usted proporcione al utilizar
      nuestro sitio web. Esta Política de Privacidad describe cómo recopilamos,
      utilizamos y protegemos su información personal.
    </p>
    <p class="mt-5">
      Podemos recopilar información personal como su nombre, dirección de correo
      electrónico, número de teléfono, información de facturación, entre otros,
      cuando usted interactúa con nuestro sitio web, realiza una compra o se
      suscribe a nuestros servicios.
    </p>
    <p class="mt-5">
      Utilizamos la información recopilada para:
      <li>
        Personalizar su experiencia en nuestro sitio web y mejorar nuestros
        productos y servicios.
      </li>
      <li>
        Cumplir con obligaciones legales y proteger nuestros derechos legales.
      </li>
    </p>
    <p class="mt-5">
      No vendemos, ni alquilamos, ni compartimos su información personal con
      terceros, excepto cuando sea necesario para cumplir con fines comerciales
      legítimos, como procesar transacciones, brindar servicios contratados o
      cumplir con requisitos legales.
    </p>
    <p class="mt-5">
      Nuestro sitio web puede contener enlaces a sitios web de terceros. Esta
      Política de Privacidad se aplica únicamente a nuestro sitio web, por lo
      que le recomendamos revisar las políticas de privacidad de los sitios web
      externos que visite.
    </p>
    <p class="mt-5">
      Nuestros servicios no están dirigidos a menores de edad. Si usted es
      padre/madre o tutor legal y cree que su hijo nos ha proporcionado
      información personal, contáctenos para que podamos eliminar dicha
      información.
    </p>
    <p class="mt-5">
      Nos reservamos el derecho de actualizar o modificar esta Política de
      Privacidad en cualquier momento. Le recomendamos revisar periódicamente
      esta página para estar al tanto de cualquier cambio. La fecha de la última
      actualización se indica al inicio de esta política.
    </p>
    <p class="mt-5">
      Si tiene preguntas, comentarios o inquietudes sobre nuestra Política de
      Privacidad, por favor contactarse con un representate de {name.value}
    </p>
  </section>
</Layout>
