---
import Layout from "../layouts/Layout.astro";
import VehicleForm from "../components/react/VehicleForm";
---

<Layout title="SOLICITUD DE VEHÍCULO">
  <div
    class="md:px-32 md:pt-10 p-5 bg-gray-50 dark:bg-gray-900 text-gray-800 dark:text-white"
  >
    <header class="mb-8">
      <h1 class="text-2xl font-bold">
        <span>Solicitud de vehículo</span>
      </h1>
      <p class="text-sm">Rellena el formulario para completar tu solicitud.</p>
    </header>
    <VehicleForm client:visible />
  </div>
</Layout>
