---
import LoanPackage from "./react/LoanPackage.jsx";

const packages = [
  {
    loan: "RD$ 5,0000",
    quota: "RD$ 500",
  },
  {
    loan: "RD$ 10,0000",
    quota: "RD$ 1,000",
  },
  {
    loan: "RD$ 15,0000",
    quota: "RD$ 1,500",
  },
  {
    loan: "RD$ 20,0000",
    quota: "RD$ 2,000",
  },
];
---

<section
  id="solicitar-prestamo"
  class="md:px-32 px-8 bg-gray-50 dark:bg-gray-800 py-20"
>
  <header class="pb-8">
    <h1 class="text-3xl">
      Solicita un <span class="font-semibold">préstamo</span> y paga <br
        class="hidden md:flex"
      /> en
      <span class="font-semibold">cuotas semanales</span>
    </h1>
  </header>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
    {
      packages.map(({ loan, quota }) => (
        <LoanPackage client:visible loan={loan} quota={quota} />
      ))
    }
  </div>
</section>
