<section class="bg-blue-800 dark:bg-blue-900 text-white md:px-32 md:py-20 px-5 py-8">
  <div>
    <h1 class="text-3xl">Requisitos para el préstamo</h1>
    <li class="py-3 mt-5 text-xl">Ser mayor de edad</li>
    <li class="py-3 text-xl">Tener 6 meses laborando</li>
    <li class="py-3 text-xl">Residir en la provincia de La Vega</li>
    <p class="mt-5 py-3">
      <span class="font-bold">Nota:</span> Se le puede pedir una garantía de vehículo, hipotecario o un fiador <br class="sm:flex hidden">
      solidario en caso de que sea requerido.
    </p>
  </div>
</section>
