---
import ToggleVehicleForm from "./react/ToggleVehicleForm.jsx";
---

<section
  id="compra-venta-vehiculos"
  class="md:px-32 px-8 text-white bg-blue-800 py-20"
>
  <header class="pb-8">
    <h1 class="text-3xl">
      Realizamos
      <span class="font-bold"> compra, venta, alquiler y financiamento</span>
      de vehículos
    </h1>
    <p class="text-xl mt-2">
      Dejanos tus datos si estas interesado en esta solución.
    </p>
  </header>
  <ToggleVehicleForm client:visible />
</section>
